@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,300;0,400;0,700;1,300&family=Montserrat+Alternates:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Questrial&display=swap');

:root{
  /* Variables de Fonts */
  --font-montserrat: 'Montserrat Alternates', sans-serif;
  --font-josefin: 'Josefin Sans', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
  --font-questrial: 'Questrial', sans-serif;

  /* Variables de Colores background*/
  --bg-salmon: #F8565D;
  --bg-blanco: #ffffff;
  --bg-blanco-f3: #F3F3F3;
  --bg-negro-2F: #2F2F2F;
  --bg-negro-1A: #1A1A1A;

  /* variables colores textos */
  --color-back: #000;
  --color-white: #fff;
}

*
{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}

h1.title_special{
  display: none;
  opacity: 0;
}

/* Estilos menu contactos */
.header{
    width: 100%;
    height: 75px;
}
.nav_contact{
  height: 75px;
  width: 100%;
  background-color: var(--bg-blanco-f3);
  display: flex;
  color: var(--color-back);
  font-family: var(--font-questrial);
  justify-content: space-around;
  align-items: center;
}
.nav_contact a{
  text-decoration: none;
}
.nav_contact_infor a{
  color: var(--color-back);
  margin-right: 10px;  
}
.nav_contact_infor i{
  color: var(--bg-salmon);
  font-size: 17px;
}
.nav_contact_social-media{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.nav_contact_social-media li{
  background-color: var(--bg-salmon);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 45px;
}
.nav_contact_social-media li i{
  color: var(--color-white);
  font-size: 22px;
  transition: .3s ease transform;
}
.nav_contact_social-media li:hover i{
  transform: translateY(-3px);
  transition: .3s ease transform;
}
.nav_contact_social-media .btn_dark{
  background-color: var(--bg-negro-2F);
  cursor: pointer;
}
.nav_contact_social-media .btn_dark_mode{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* estilos de menu header */
.nav_header_main{
  position: fixed;
  left: 0;
  height: 90px;
  max-height: 90px;
  width: 100%;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  transition: .5s ease background;
  z-index: 9999;
}
.nav_header_main.sticky{
  top: 0;
  background-color: var(--bg-blanco);
  transition: .5s ease background;
}
.nav_header_main .logo{
  width: 340px;
}
.nav_header_main .logo img{
  width: 100%;
  max-width: 340px;
}
.nav_header_main .nav_enlaces{
  width: 450px;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.nav_enlaces .enlaces{
  width: auto;
  padding: 0 7px;
  color: var(--color-white);
  text-decoration: none;
  font-family: var(--font-montserrat);
  font-weight: bold;
  text-align: center;
}
.nav_header_main.sticky .enlaces{
  color: var(--color-back);
}
.nav_enlaces .enlaces:hover{
  color: var(--color-white);
  background-color: var(--bg-salmon);
  height: 70px;
  line-height: 60px;
  border-radius: 5px;
  clip-path: polygon(100% 68%, 49% 100%, 0 67%, 0 0, 100% 0);
}

/* Estilos de Backfround Hero*/
.background_hero
{
  position: relative;
  width: 100%;
  /* !default */
  /*? sin alto definido */
  
  /*! primera opcion */
  /* height: calc(100vh - 300px); */
  
  /*! segunda opcion */
  /* height: calc(100vh - 40px); */

  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  transition: 0.5s;
}
.background_hero::before{
  content: 'hola';
  display: block;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 90px;
  position: absolute;
  background-color: var(--bg-blanco);
  clip-path: polygon(0% 95%, 100% 50%, 100% 100%, 0% 100%);
  z-index: 10000;

}
.background_hero video
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
.overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(3, 168, 244);
  mix-blend-mode: overlay;
}
.text
{
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 10;
  padding: 10px;
}
.text h1{
  font-family: var(--font-josefin);
  font-weight: 300;
  text-transform: capitalize;
  font-size: 80px;
  letter-spacing: -4px;
  color: var(--color-white);
}
.text p{
  max-width: 635px;
  margin: auto;
  font-size: 26px;
  color: var(--color-white);
  font-family: var(--font-questrial);
  line-height: 35px;
}

/*


.social
{
  position: absolute;
  z-index: 10;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social li
{
  list-style: none;
}
.social li a
{
  display: inline-block;
  margin-right: 20px;
  filter: invert(1);
  transform: scale(0.5);
  transition: 0.5s;
}
.social li a:hover
{
  transform: scale(0.5) translateY(-15px);
}
.menu
{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul
{
  position: relative;
}
.menu ul li
{
  list-style: none;
}
.menu ul li a
{
  text-decoration: none;
  font-size: 24px;
  color: #111;
}
.menu ul li a:hover
{
  color: #03a9f4; 
}

@media (max-width: 991px)
{
  .showcase,
  .showcase header
  {
    padding: 40px;
  }
  .text h2
  {
    font-size: 3em;
  }
  .text h3
  {
    font-size: 2em;
  }
} */