
.section_one{
    width: 100%;
    height: 580px;
    background-color:var(--bg-salmon);
    display: flex;
    justify-content: space-evenly;
}
.section_one .img {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content:flex-end ;
    position: relative;
    z-index: 2;
}
.section_one .img>img{
    max-width: 432px;
    height: 373px;
    margin-left: 2em;
}

.section_one .img::before{
    /* no olvidarme el content  :( */
    top: 120px;
    z-index: -1;
    position: absolute;
    content: "";
    width: 400px;
    height: 400px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--color-static-white);
}
.section_one .inicio{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inicio_tittle{
    font-family: var(--font-montserrat);
    font-size: 60px;
    color: white;
}
.inicio_tittle> strong{
    color:black;
}


/* trip cards  */
.tours_container{
    -webkit-box-shadow: 2px 10px 26px -5px rgba(0,0,0,0.37);
    -moz-box-shadow: 2px 10px 26px -5px rgba(0,0,0,0.37);
    box-shadow: 2px 10px 26px -5px rgba(0,0,0,0.37);
}
.trip_card{
    width: 100%;
    height: 344px;
    display: flex;
}
.trip_card_img{
    width: 50%;
}
.trip_card_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    image-rendering: pixelated;
}
.trip_card_info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding:50px;
}
.trip_card_info .dollar{
    font-family: var(--font-montserrat);
    color: var(--bg-salmon);
    font-size: 40px;
    font-weight: bold;
}
.trip_card_info .trip_card_end{
    display: flex;
    justify-content: space-between;
    align-items: center ;
}
.trip_card_info .trip_card_end P{
    color: var(--bg-negro-2F);
}
.trip_card_info .trip_card_end a{
    width: 145px;
    height: 60px;
    background-color: var(--bg-negro-1A);
    color: var(--bg-blanco);
    text-decoration: none;
    /* para centrar textos  */
    text-align: center;
    line-height: 60px;
}
.trip_card:nth-child(even){
    flex-direction: row-reverse;
}
.trip_card:nth-child(even) .trip_card_info{
     transform: rotateY(180deg); 
}
.trip_card:nth-child(even) p,.trip_card:nth-child(even) h2{
    transform: rotateY(180deg);
    text-align: right;
}
.trip_card:nth-child(even) a{
    transform: rotateY(180deg);
}
.filter-bar{
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    background: royalblue;
    z-index: 99900;
    transition: 1.5s ease-in-out right;
}
.filter-button{
    position: fixed;
    left: 0;
    top: 300px;
    border: none;
    background-color: black;
    color: blanchedalmond;
    padding: 10px 20px ;
    z-index: 100;
}

.filter-bar.active{
    right: 0;
}