img{
    max-width: 100%;
}
/** Informacion del tour */
.header_information{
    height: 560px;
    position: relative;
}
.text_infomation{
    position: absolute;
    width: 60%;
    height: 330px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-static-white);
    
    background: rgba(0, 0, 0, 0.45);
    border-radius: 200px 0px 0px 200px;
    overflow: hidden;
}
.text_infomation .titulo{
    text-align: center;
    font-size: 44px;
    font-family: var(--font-montserrat);
    width: 80%;
}
.text_infomation .descripcion{
    text-align: center;
   font-size: 18px;
   font-family: var(--font-poppins);
   width: 90%;
   padding: 10px;
}

/** Informacion de lugares */
.information_places{
    max-width: 1300px;
    margin: 2rem auto;
    width: 100%;
}
.place{
    width: 90%;
    max-width: 1200;
    background-color: var(--bg-blanco-f3);
    color: var(--color-black);
    margin: 1rem auto;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);
}
.place_item_header{
    position: relative;
    display: block;
    background-color: var(--bg-blanco-f3);
    height: 50px;
    width: 100%;
    text-decoration: none;
    color: var(--color-black);
    line-height: 50px;
}
.place_item_header > h2{
    font-family: var(--font-questrial);
    text-align: center;
    font-weight: 300;
    font-size: 28px;
}
.place_item_header.active{
    color: var(--color-static-white);
    background-color: var(--bg-salmon);
}
.place_item_header::after{
    content: "";
    position: absolute;
    right: 1rem;
    top: 10px;
	display: inline-block;
    background-color: transparent;
	height: 15px;
	width:  15px;
    border-style: solid;
	border-width: 5px 5px 0 0;
	transform: rotate(135deg);
    transition: 0.3s ease transform;
}
.place_item_header.active::after{
	transform: rotate(-45deg);
    top: 20px;
}
.place_item_body{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.place_body_content{
    line-height: 1.5rem;
}
.place_description{
    text-align: center;
    margin-bottom: 20px;
}
.place_description h3{
    font-family: var(--font-montserrat);
    font-size: 28px;
    margin: 20px 0;
    color: var(--bg-salmon);
}
.place_description p{
    margin: auto;
    padding: 0 20px;
    line-height: 28px;
}
.atractivos{
    padding: 30px 0 50px 0;
    text-align: center;
    background-color: var(--bg-salmon);
}
.atractivos h3{
    font-family: var(--font-montserrat);
    font-weight: bold;
    font-size: 28px;
    margin-bottom: 30px;
    color: var(--color-static-white);
}
.subcontenedor_atractivos{
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
.sub_atractivo{
    display: flex;
    flex-wrap: wrap;
    height: 230px;
    overflow: auto;  
}
.sub_atractivo:nth-child(even){
    flex-direction: row-reverse;
}
.atractivos__image{
    max-width: 500px;
    height: 100%;
    flex: 1 0 50%;
}
.atractivos__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.atractivos__description{
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-static-white);
    padding: 0 20px;
    text-align: left;
}
.atractivos__description h4{
    text-align: left;
    width: 100%;
}
